<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePaths</key>
	<dict>
		<key>positionTax</key>
		<string>positionTax</string>
		<key>userPositions</key>
		<string>userPositions?</string>
		<key>userContractOrders</key>
		<string>userOrders?</string>
		<key>contracts</key>
		<string>instruments</string>
		<key>submitContractOrder</key>
		<string>submitOrder</string>
		<key>contractAccounts</key>
		<string>accounts</string>
		<key>contractDepth</key>
		<string>depth?instrumentID=</string>
		<key>cancelContractOrders</key>
		<string>cancelOrders</string>
		<key>contractTrades</key>
		<string>trades?instrumentID=</string>
		<key>futures</key>
		<string>tickers</string>
		<key>contractUserTrades</key>
		<string>userTrades</string>
		<key>contractQuote</key>
		<string>kline</string>
		<key>transferFunds</key>
		<string>transferFunds</string>
		<key>cashBooks</key>
		<string>cashBooks</string>
		<key>fundingrate</key>
		<string>fundingrate</string>
		<key>marginOper</key>
		<string>changeMargin</string>
		<key>liqRecords</key>
		<string>userLiqRecords</string>
		<key>createContractAccount</key>
		<string>createAccount</string>
		<key>openAccountRewardCheck</key>
		<string>activity/openAccountReward?action=check</string>
		<key>openAccountRewardReceive</key>
		<string>activity/openAccountReward?action=receive</string>
		<key>depositRewardCheck</key>
		<string>activity/depositReward?action=check</string>
		<key>depositRewardReceive</key>
		<string>activity/depositReward?action=receive</string>
		<key>riskReserves</key>
		<string>riskReserves</string>
		<key>contractIndexes</key>
		<string>indexes</string>
		<key>submitPlanOrder</key>
		<string>submitPlanOrder</string>
		<key>cancelPlanOrders</key>
		<string>cancelPlanOrders</string>
		<key>userPlanOrders</key>
		<string>userPlanOrders?</string>
		<key>getOrderTrades</key>
		<string>orderTrades?</string>
		<key>login</key>
		<string>login</string>
		<key>setGlobalLeverage</key>
		<string>setGlobalLeverage</string>
		<key>getGlobalLeverage</key>
		<string>getGlobalLeverage</string>
		<key>exchangerate</key>
		<string>exchangerate</string>
	</dict>
</dict>
</plist>
