<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>textfield</key>
	<dict>
		<key>seperator</key>
		<string>#E0E8EF</string>
	</dict>
	<key>pagecontrol</key>
	<dict>
		<key>select</key>
		<string>#828EA1</string>
		<key>unselect</key>
		<string>#E0E8EF</string>
		<key>bannerSelect</key>
		<string>#D8E1F0</string>
		<key>bannerUnselect</key>
		<string>#6A7A97</string>
	</dict>
	<key>label</key>
	<dict>
		<key>share</key>
		<string>#E5D2AC</string>
		<key>colorLite</key>
		<string>#DBDBDB</string>
		<key>colorMedium</key>
		<string>#828EA1</string>
		<key>colorDark</key>
		<string>#C5C9D5</string>
		<key>colorHighlight</key>
		<string>#D4B106</string>
		<key>white</key>
		<string>#FFFFFF</string>
	</dict>
	<key>btn</key>
	<dict>
		<key>normal</key>
		<string>#D4B106</string>
		<key>disable</key>
		<string>#434343</string>
		<key>highlight</key>
		<string>#BC9E0A</string>
		<key>selected</key>
		<string>#BC9E0A</string>
		<key>normal1</key>
		<string>#262626</string>
		<key>disable1</key>
		<string>#262626</string>
		<key>highlight1</key>
		<string>#1D1D1D</string>
		<key>redNormal</key>
		<string>#D6453C</string>
		<key>redDisable</key>
		<string>#D6453C</string>
		<key>redHighlight</key>
		<string>#B93229</string>
		<key>greNormal</key>
		<string>#14B465</string>
		<key>greDisable</key>
		<string>#14B465</string>
		<key>greHighlight</key>
		<string>#B93229</string>
	</dict>
	<key>nav</key>
	<dict>
		<key>bg</key>
		<string>#F1F3F8</string>
	</dict>
	<key>tab</key>
	<dict>
		<key>bg</key>
		<string>#F6F8FC</string>
		<key>icon</key>
		<string>#BBC2CE</string>
	</dict>
	<key>view</key>
	<dict>
		<key>mask</key>
		<string>#66000000</string>
		<key>highlight</key>
		<string>#2489F1</string>
		<key>highlight50</key>
		<string>#802489F1</string>
		<key>highlight25</key>
		<string>#402489F1</string>
		<key>highlight15</key>
		<string>#262489F1</string>
		<key>bg</key>
		<string>#FFFFFF</string>
		<key>bgIcon</key>
		<string>#828EA1</string>
		<key>bgIcon50</key>
		<string>#80828EA1</string>
		<key>bgIcon25</key>
		<string>#40828EA1</string>
		<key>bgIconh</key>
		<string>#C5C9D5</string>
		<key>bgIconh50</key>
		<string>#80C5C9D5</string>
		<key>bgGap</key>
		<string>#F1F3F8</string>
		<key>bgTab</key>
		<string>#F6F8FC</string>
		<key>seperator</key>
		<string>#E0E8EF</string>
		<key>border</key>
		<string>#C8CFD5</string>
		<key>bgCard</key>
		<string>#FFFFFF</string>
		<key>mySign</key>
		<string>#828EA1</string>
	</dict>
	<key>state</key>
	<dict>
		<key>normal</key>
		<string>#1F3F59</string>
		<key>normal80</key>
		<string>#CC1F3F59</string>
		<key>success</key>
		<string>#13B887</string>
		<key>success80</key>
		<string>#CC13B887</string>
		<key>fail</key>
		<string>#EB4D5C</string>
		<key>fail80</key>
		<string>#CCEB4D5C</string>
		<key>warning</key>
		<string>#F2A816</string>
		<key>warning80</key>
		<string>#CCEDBB7A</string>
	</dict>
	<key>kline</key>
	<dict>
		<key>up</key>
		<string>#13B887</string>
		<key>up15</key>
		<string>#2613B887</string>
		<key>down</key>
		<string>#EB4D5C</string>
		<key>down15</key>
		<string>#26EB4D5C</string>
		<key>yellow</key>
		<string>#DDB16A</string>
		<key>green</key>
		<string>#67D25F</string>
		<key>purple</key>
		<string>#CB74E4</string>
		<key>pink</key>
		<string>#E8C4B6</string>
		<key>tagbg</key>
		<string>#FFFFFF</string>
		<key>seperator</key>
		<string>#D8D8D8</string>
	</dict>
</dict>
</plist>
