<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>textfield</key>
	<dict>
		<key>seperator</key>
		<string>#3F5372</string>
	</dict>
	<key>pagecontrol</key>
	<dict>
		<key>select</key>
		<string>#D8E1F0</string>
		<key>unselect</key>
		<string>#3F5372</string>
		<key>bannerSelect</key>
		<string>#D8E1F0</string>
		<key>bannerUnselect</key>
		<string>#6A7A97</string>
	</dict>
	<key>label</key>
	<dict>
		<key>share</key>
		<string>#E5D2AC</string>
		<key>colorLite</key>
		<string>#DBDBDB</string>
		<key>colorMedium</key>
		<string>#ACACAC</string>
		<key>colorDark</key>
		<string>#7D7D7D</string>
		<key>colorHighlight</key>
		<string>#D4B106</string>
		<key>white</key>
		<string>#FFFFFF</string>
	</dict>
	<key>btn</key>
	<dict>
		<key>normal</key>
		<string>#D8E1F0</string>
		<key>disable</key>
		<string>#434343</string>
		<key>highlight</key>
		<string>#2489F1</string>
		<key>colorTitle</key>
		<string>#000000</string>
	</dict>
	<key>nav</key>
	<dict>
		<key>bg</key>
		<string>#0A0A0A</string>
	</dict>
	<key>tab</key>
	<dict>
		<key>bg</key>
		<string>#101010</string>
		<key>icon</key>
		<string>#3F5372</string>
	</dict>
	<key>view</key>
	<dict>
		<key>mask</key>
		<string>#66000000</string>
		<key>highlight</key>
		<string>#262626</string>
		<key>highlight50</key>
		<string>#802489F1</string>
		<key>highlight25</key>
		<string>#66570A</string>
		<key>highlight15</key>
		<string>#262489F1</string>
		<key>bg</key>
		<string>#0A0A0A</string>
		<key>bgIcon</key>
		<string>#3F5372</string>
		<key>bgIcon50</key>
		<string>#803F5372</string>
		<key>bgIcon25</key>
		<string>#403F5372</string>
		<key>bgIconh</key>
		<string>#131416</string>
		<key>bgIconh50</key>
		<string>#25252B</string>
		<key>bgGap</key>
		<string>#0D1D26</string>
		<key>bgTab</key>
		<string>#14233A</string>
		<key>seperator</key>
		<string>#1D1D1D</string>
		<key>border</key>
		<string>#262626</string>
		<key>borderSelected</key>
		<string>#434343</string>
		<key>bgCard</key>
		<string>#FFFFFF</string>
		<key>mySign</key>
		<string>#434343</string>
	</dict>
	<key>state</key>
	<dict>
		<key>normal</key>
		<string>#1F3F59</string>
		<key>normal80</key>
		<string>#66177DDC</string>
		<key>success</key>
		<string>#13B887</string>
		<key>success80</key>
		<string>#CC13B887</string>
		<key>fail</key>
		<string>#EB4D5C</string>
		<key>fail80</key>
		<string>#CCEB4D5C</string>
		<key>warning</key>
		<string>#D6453C</string>
		<key>warning80</key>
		<string>#66D87A16</string>
	</dict>
	<key>kline</key>
	<dict>
		<key>up</key>
		<string>#14B465</string>
		<key>up15</key>
		<string>#2613B887</string>
		<key>down</key>
		<string>#D6453C</string>
		<key>down15</key>
		<string>#26EB4D5C</string>
		<key>yellow</key>
		<string>#F5CB89</string>
		<key>green</key>
		<string>#91F589</string>
		<key>purple</key>
		<string>#DD89F5</string>
		<key>pink</key>
		<string>#FDDACD</string>
		<key>tagbg</key>
		<string>#0D1626</string>
		<key>seperator</key>
		<string>#D8D8D8</string>
	</dict>
</dict>
</plist>
